@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.App {
	text-align: center;
}

.center {
	display: block;
	margin-top: 40px;
	margin-left: 40px;
	margin-right: auto;
	width: 40%;
}

.img {
	padding: 5px;
	margin-top: 10%;
	margin-left: 10%;
}

.center-div {
	margin-right: auto;
	margin-left: auto;
}

tr,
p {
	font-family: 'Amatic SC', cursive;
}
